---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404 - Páxina no encontrada">
	<section class="max-w-xl mx-auto text-center py-20">
		<h1 class="text-3xl font-semibold mb-4">Páxina non atopada (404)</h1>

		<p class="mb-4">
			La página que buscas no existe o ha sido movida. Serás redirigido
			automáticamente a la página de inicio.
		</p>

		<a
			href="/"
			class="inline-block px-5 py-2 rounded bg-blue-600 text-white font-semibold"
		>
			Ir á páxina de inicio
		</a>
	</section>

	<script is:inline>
		setTimeout(() => {
			window.location.href = '/inicio/'
		}, 3000)
	</script>
</BaseLayout>
