---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'

const entries = await getCollection('recursos')
const entry = entries.find((e) => e.slug === 'recursos')
if (!entry) throw new Error('No se encontró recursos.md')

const { Content, headings } = await entry.render()
const { title, description } = entry.data
---

<BaseLayout title={title} description={description}>
	<div class="flex justify-center px-4 pt-18">
		<main class="prose prose-lg dark:prose-invert w-full max-w-4xl">
			<Content />
		</main>
	</div>
</BaseLayout>
